@import url('https://fonts.googleapis.com/css?family=Lato:300|Oswald');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Lato;
    color: #777777;
}


/*---------------------------- Header ---*/

#logo {
  float: left;
  width: 110px;
  height: 50px;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 20px;
}

#menu {
  font-size: 100%;
  list-style-type: none;
  letter-spacing: 1px;
}

#menu li {
  float: right;
  margin-right: 30px;
}

#menu a {
  text-decoration: none;
  color: inherit;
}

#menu a:hover {
  border-bottom: 1px solid #777777; /*when hovering over menu bar it shows line under choosen menu link*/
}


/*----------------------------- Hero-image ---*/

.column {
  float: left;
  width: 25%;
  padding: 1px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#hero-image div {
  animation-name: hero-zoom;  /*combaining animation with actual image*/
  animation-duration: 5s;    /*animation will start after 5 sec when webpage loaded*/
  animation-fill-mode: forwards;  /*after animation enlarge to 110% it will stay that way*/
}

@keyframes hero-zoom {    
  from {
    transform: scale(0.9); 
  }
  to {
    transform: scale(1); 
  }
}

/*-------------------------------- Footer ---*/
/*
footer {
	
	padding: 1em;
	text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
}
*/

#footer-area {
    padding: 90px 0 60px 0;
    background: rgb(245, 243, 243);
    color: #777777;
    
}

.footer-social {
    margin-top: 20px;
}

.single-footer h3 {
    font-weight: 500;
    margin-bottom: 25px;
    color: #777777;
    font-family: Lato;
}

.link-area li {
    padding: 5px 5px 5px 0;
    list-style: none;
}

.link-area li a {
    text-transform: capitalize;
    color: #777777;
    font-family: Lato;
}

.link-area li a i {
    margin-right: 10px;
    color: #777777;
}

.link-area {
    padding: 0;
}

.single-footer p {
    font-family: Lato;
}
.footer-social li a {
    width: 30px;
    height: 30px;
    display: inline-block;
    background: rgb(245, 243, 243);;
}

.footer-social li a i {
    color: black;
    padding: 8px;

}
/*
.widget li {
    float: left;
    width: 50%;
}

widget li a img {
    margin-bottom : -10px;
    width: 100%;
    height: 70px;
}
*/

.copyright-area {
    background: rgb(245, 243, 243);;
    padding: 30px 0;
    margin-top: 30px;
    border-radius: 5px;
}

copyright-area p {
    font-weight: 600;
    color: black;
}