@import url('https://fonts.googleapis.com/css?family=Lato:300|Oswald');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "Lato", sans-serif;
    color: #5e5c5c;
}

.uppercase {
    text-transform: uppercase;
}

.container-fluid {
    padding: 0;
    margin: 0;
    
 }

 .grey-line {
    width: 100%;
    height: 2px;
    border: 0;
    background-color: #777777;
    text-align: center;
}

/*---------------------------- Header ---*/



#logo {
  float: left;
  width: 140px;
  height: 60px;
  margin: 30px 0 20px 50px;
  
}

#menu {
  font-size: 120%;
  list-style-type: none;
  letter-spacing: 1px;
  color: #5e5c5c;
  margin-left: 50px;
}

#menu li {
  float: right;
  margin-right: 30px;
}

#menu a {
  text-decoration: none;
  color: inherit;
}

#menu .active a {
    color: #313131;
}

#menu a:hover {
  border-bottom: 1px solid red;
  color: red;
} 

.navbar {
    margin: 0;
    border-right: 30px;
    width: 100%;
    padding-left: 30px;
}

.navbar .navbar-toggler {
    border: 0;
    padding-left: 30px;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

@media(min-width: 992px) {
    .navbar {
        margin: 0;
        border-right: 20px;
        width: 100%;
    }
}


/*----------------------------- Hero-image ---*/



.column {
  float: left;
  width: 25%;
  padding: 1px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#hero-image div {
  animation-name: hero-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes hero-zoom {    
  from {
    transform: scale(0.9); 
  }
  to {
    transform: scale(1); 
  }
}

/*-------------------------------- Features ---*/

.feature-block {
    max-width: 70%;
    margin: 0 auto;
    padding-bottom: 30px;
    padding-top: 30px; 
}

.profile {
    background: url("../images/profile/prof_photo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

.feature-heading h1 {
    font-family: "Lato", sans-serif;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
}

.grey-line-feature {
    width: 70%;
    margin: 0 auto;
    height: 2px;
    border: 0;
    background-color: #777777;
    text-align: center;
    margin-bottom: 30px;
}

.feature-heading h2 {
    font-family: "Lato", sans-serif;
    margin-top: 30px;
    margin-bottom: 40px;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}

.bg-color-nails {
    background-color: rgb(252, 239, 222);
    margin-left: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

.nails-title {
    text-align: center;
}

.nails-title a {
    text-decoration: none;
}

.bg-color-nails a p:hover {
    color: red;
}

.nails {
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 46px;
    margin-top: 20px;
    color:#5e5c5c;
}

.description {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: "Lato", sans-serif;
    color: #5e5c5c;
}

.brand-container {
    margin-left: 20px;
    margin-top: 25px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

.emi-brand {
    background: url("../images/profile/emi_logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
    
}

.staleks-brand {
    background: url("../images/profile/staleks_logo3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
    
}

/*-------------------------------- Footer ---*/

.footer-heading {
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    color:#5e5c5c;
    
}

footer {
    background-color: rgb(245, 243, 243);
    color:#5e5c5c;
    min-height: 100px;
    margin: 0;
}

.price-list-pdf i {
    font-size: 18px;
    color:#5e5c5c;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.price-list-pdf i:hover {
    color: red;
}

.social-link a i {
    font-size: 22px;
    color:#5e5c5c;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-link a i:hover {
    color: red;
}

#footer-details {
    padding: 40px;
    text-align: center;
}

@media(min-width: 992px) {
    .footer-heading {
        font-family: 'Lato', sans-serif;
        font-weight: 100;
        color:#5e5c5c;
        margin: 15px 0;
    }
}

/*-------------------------------- Contact Form ---*/

.bg-color-contact {
    background-color: #ffffff;
}

.contact-heading {
    font-family: "Lato", sans-serif;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #5e5c5c;
}

.grey-line-contact {
    width: 50%;
    margin: 0 auto;
    height: 2px;
    border: 0;
    background-color: #777777;
    text-align: center;
    margin-bottom: 30px;
}

.text-center h5 {
    width: 50%;
    margin: 0 auto;
    color: #5e5c5c;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #746e6e;
}

@media(min-width: 992px) {
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}

/*-------------------------------- Price list ---*/

.bg-color-pricing {
    background-color: #ffffff;
}

.pricing-heading {
    font-family: "Lato", sans-serif;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}

.grey-line-pricing {
    width: 50%;
    margin: 0 auto;
    height: 2px;
    border: 0;
    background-color: #777777;
    text-align: center;
}

.pricing-table {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

.table th {
    text-align: center;
}

@media(min-width: 992px) {
    .pricing-table {
        padding-top: 30px;
        min-height: 360px;
        margin: 0 auto;
        max-width: 50%;
    }
}

/*-------------------------------- Gallery ---*/

.gallery-block {
    max-width: 80%;
    margin: 0 auto;
    padding-bottom: 30px;
    padding-top: 60px;
}

.gallery-block .gallery-heading h2 {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px; 
    text-align: center;
}

.gallery-block .card-body h6 {
    font-size: 20px;
    font-weight: bold;
    color: #5e5c5c;
}

.gallery-block .card {
    transition: 0.4s ease;
}
 
.gallery-block .card img {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

.gallery-block .card-body {
    text-align: center;
}

.gallery-block .card-body p {
    font-size: 17px;
    font-weight: bold;
}

.gallery-block img {
    color: #212529;
}

.gallery-block .card {
    margin-bottom: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

.gallery-back-link a {
    text-align: center;
    color:#5e5c5c;
    font-size: 15px;
}
.gallery-back-link a:hover {
    color: red;
}