@import url('https://fonts.googleapis.com/css?family=Lato:300|Oswald');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Lato;
    color: #777777;
}

.uppercase {
    text-transform: uppercase;
}
 .container-fluid {
     padding: 0;
 }

/*---------------------------- Header ---*/

#logo {
  float: left;
  width: 140px;
  height: 60px;
  margin: 30px 0 20px 50px;
}

#menu {
  font-size: 120%;
  list-style-type: none;
  letter-spacing: 1px;
  color: #777777;
}

#menu li {
  float: right;
  margin-right: 30px;
}

#menu a {
  text-decoration: none;
  color: inherit;
}

#menu a:hover {
  border-bottom: 1px solid #313131; /*when hovering over menu bar it shows line under choosen menu link*/
  color: #313131;
} 

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-nav a {
    font-weight: bold;
}



/*----------------------------- Hero-image ---*/

.column {
  float: left;
  width: 25%;
  padding: 1px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}




#hero-image div {
  animation-name: hero-zoom;  /*combaining animation with actual image*/
  animation-duration: 5s;    /*animation will start after 5 sec when webpage loaded*/
  animation-fill-mode: forwards;  /*after animation enlarge to 110% it will stay that way*/
}

@keyframes hero-zoom {    
  from {
    transform: scale(0.9); 
  }
  to {
    transform: scale(1); 
  }
}



/*-------------------------------- Features ---*/

.grey-line {
    width: 100%;
    height: 2px;
    border: 0;
    background-color: #777777;
    text-align: center;
}

.content-container {
    clear: both;
    padding-top: 40px;
    padding-bottom: 0x;
    text-align: center;
    
}

.content-container h3 {
    font-weight: bold;
}

.nail-feature {
    text-align: center;
    margin-left: 80px;
    font-family: Lato;
    margin-top: 40px;
    
}

.photo-feature {
    padding: 0 30px 0 30px;
    
}

.eyelash-feature {
    text-align: center;
    margin-right: 80px;
    font-family: Lato;
    margin-top: 40px;
    
}

.profile-photo {
    padding: 30px;
    width: 330px;
    height: 330px;
    border-radius: 50%;
    border-style: solid;
    border-color: #746e6e;
    border-width: 0.5px;
    margin: 0 auto;
}

a .profile-photo:hover {
    border-color: goldenrod;
}

/*-------------------------------- Footer ---*/

.footer-frame {
 
    background-color: rgb(245, 243, 243);
    color: #777777;
    min-width: 120px;
    text-align: center;
    padding: 30px 0;
    margin-top: 30px;
    font-size: 100%;
    
}

.social-link a i {
    width: 32px;
    height: 32px;
    padding: 5px;
    border-radius: 50%;
    font-size: 30px;
    line-height: 10px;
    text-align: center;
    color: rgb(194, 191, 191);
    background: rgb(245, 243, 243);
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-link a i:hover {
    background: rgb(247, 224, 194);
}

