@import url('https://fonts.googleapis.com/css?family=Lato:300');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "Lato", sans-serif;
    color: #5e5c5c;
}

.uppercase {
    text-transform: uppercase;
}

.container-fluid {
    padding: 0;
    margin: 0;
    
 }

 .grey-line {
    width: 100%;
    height: 2px;
    border: 0;
    background-color: #777777;
    text-align: center;
}

/*---------------------------- Header ---*/



#logo {
  float: left;
  width: 140px;
  height: 60px;
  margin: 30px 0 20px 50px;
  background-repeat: no-repeat;
}

#menu {
  font-size: 120%;
  list-style-type: none;
  letter-spacing: 1px;
  color: #5e5c5c;
  margin-left: 50px;
}

#menu li {
  float: right;
  margin-right: 30px;
}

#menu a {
  text-decoration: none;
  color: inherit;
}

#menu .active a {
    color: #313131;
}

#menu a:hover {
  border-bottom: 1px solid red;
  color: red;
} 

.navbar {
    margin: 0;
    border-right: 30px;
    width: 100%;
    padding-left: 30px;
}

.navbar .navbar-toggler {
    border: 0;
    padding-left: 30px;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

@media(min-width: 992px) {
    .navbar {
        margin: 0;
        border-right: 20px;
        width: 100%;
    }
}


/*----------------------------- Hero-image ---*/



.column {
  float: left;
  width: 25%;
  padding: 1px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#hero-image div {
  animation-name: hero-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes hero-zoom {    
  from {
    transform: scale(0.9); 
  }
  to {
    transform: scale(1); 
  }
}

/*-------------------------------- Features ---*/

.feature-title {
    max-width: 80%;
    margin: 0 auto;
    padding-bottom: 0;
    padding-top: 30px; 
}

.feature-heading h1 {
    font-family: "Lato", sans-serif;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
}

.grey-line-feature {
    width: 70%;
    margin: 0 auto;
    height: 2px;
    border: 0;
    background-color: #777777;
    text-align: center;
    margin-bottom: 30px;
}

.feature-heading h2 {
    font-family: "Lato", sans-serif;
    margin-top: 30px;
    margin-bottom: 40px;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}

img {
    max-width: 100%;
}

.feature-container {
    max-width: 80%;
    margin: 0 auto;
    padding-bottom: 30px;
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
        'profile profile emi-box-logo'
        'profile profile emi-box'
        'profile profile staleks-box-logo'
        'profile profile staleks-box';
}

.profile {
    grid-area: profile;
    min-height: 620px;
    background: url(../images/profile/prof_photo.jpg);
    background-size: cover;
    background-position: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: 0px 2px 10px rgba(83, 83, 83, 0.959);
}

.profile h1 {
    font-size: 50px;
    margin-bottom: 0;
    color: #fafafa;
    font-weight: bold;
    padding-top: 100px;
    padding-bottom: 15px;
}

.profile p {
    font-size: 22px;
    margin-top: 0;
    color: #fafafa;
    font-weight: bold;
}

.profile a:hover {
    background: red;
    border-color: red;
}

.emi-box-logo {
    grid-area: emi-box-logo;
    min-height: 250px;
    background: url(../images/profile/emi_logo.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 0px 2px 10px rgba(83, 83, 83, 0.959);
}

.emi-box {
    grid-area: emi-box;
    text-align: center;
    background-color: #746e6e;
    box-shadow: 0px 2px 10px rgba(83, 83, 83, 0.959);
}

.emi-box a:hover {
    background: red;
    border-color: red;
}

.staleks-box-logo {
    grid-area: staleks-box-logo;
    min-height: 250px;
    background: url(../images/profile/staleks_logo3.png);
    background-size: cover;
    background-position: center;
    box-shadow: 0px 2px 10px rgba(83, 83, 83, 0.959);
}

.staleks-box {
    grid-area: staleks-box;
    text-align: center;
    background-color: #746e6e;
    box-shadow: 0px 2px 10px rgba(83, 83, 83, 0.959);
}

.staleks-box a:hover {
    background: red;
    border-color: red;
}

@media screen and (max-width: 992px) {
    .feature-container {
        grid-template-areas: 
            'profile profile'
            'emi-box-logo staleks-box-logo'
            'emi-box staleks-box';
    }
}

@media screen and (max-width: 600px) {
    .feature-container {
        grid-template-areas: 
            'profile'
            'emi-box-logo'
            'emi-box'
            'staleks-box-logo'
            'staleks-box';
    }
}

/*-------------------------------- Footer ---*/

.footer-heading {
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    color:#5e5c5c;
    
}

footer {
    background-color: rgb(245, 243, 243);
    color:#5e5c5c;
    min-height: 100px;
    margin: 0;
}

.price-list-pdf i {
    font-size: 18px;
    color:#5e5c5c;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.price-list-pdf i:hover {
    color: red;
}

.social-link a i {
    font-size: 22px;
    color:#5e5c5c;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-link a i:hover {
    color: red;
}

#footer-details {
    padding: 40px;
    text-align: center;
}

@media(min-width: 992px) {
    .footer-heading {
        font-family: 'Lato', sans-serif;
        font-weight: 100;
        color:#5e5c5c;
        margin: 15px 0;
    }
}

/*-------------------------------- Contact Form ---*/

.bg-color-contact {
    background-color: #ffffff;
}

.contact-heading {
    font-family: "Lato", sans-serif;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #5e5c5c;
}

.grey-line-contact {
    width: 50%;
    margin: 0 auto;
    height: 2px;
    border: 0;
    background-color: #777777;
    text-align: center;
    margin-bottom: 30px;
}

.text-center h5 {
    width: 50%;
    margin: 0 auto;
    color: #5e5c5c;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}
.button-box {
    text-align: center;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #746e6e;
}

input[type="reset"] {
    margin-top: 15px;
    margin-bottom: 20px;
}

button[type="submit"]:hover {
    background: red;
    border-color: red;
}

@media(min-width: 992px) {
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}

/*-------------------------------- Price list ---*/

.price-list-box {
    padding: 0;
}

.bg-color-pricing {
    background-color: #ffffff;
}

.pricing-heading {
    font-family: "Lato", sans-serif;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}

.grey-line-pricing {
    width: 50%;
    margin: 0 auto;
    height: 2px;
    border: 0;
    background-color: #777777;
    text-align: center;
}

.pricing-table {
    margin: 0 auto;
    width: 70%;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 4px;
    box-shadow: 0px 0px 6px #666;
}

.pricing-table table {
   max-width: 100%;
   
}

.pricing-table td {
    border: solid 1px #ccc;
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #5e5c5c;
    font-size: 20px;
}

.pricing-table td::before {
    display: none;
}

.pricing-table th {
    text-align: center;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    color: #5e5c5c;
    font-size: 22px;
    background-color: rgb(245, 243, 243);
    border: solid 1px #777777;
}

.pricing-table .treatment {
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    color: #5e5c5c;
    font-size: 22px;
    background-color: rgb(245, 243, 243);
}

.pricing-table th, .pricing-table td {
    display: table-cell;
    padding: 10px;
    border: solid 1px #777777;
}

@media(max-width: 767px) {
   .pricing-table {
       width: 90%;
   }

   .pricing-table th {
       display: none;
   }

   .pricing-table td {
       display: block;
   }

   .pricing-table td:first-child {
       padding-top: .5em;
   }

   .pricing-table td:last-child {
       padding-bottom: .5em;
   }

   .pricing-table td ::before {
       content: attr(data-th)"";
       font-weight: bold;
       width: 6.5em;
       display: inline-block;
   }
}

/*-------------------------------- Gallery ---*/

.gallery-block {
    max-width: 80%;
    margin: 0 auto;
    padding-bottom: 30px;
    padding-top: 60px;
}

.gallery-block .gallery-heading h2 {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px; 
    text-align: center;
}

.gallery-block .card-body h6 {
    font-size: 20px;
    font-weight: bold;
    color: #5e5c5c;
}

.gallery-block .card {
    transition: 0.4s ease;
}
 
.gallery-block .card img {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

.gallery-block .card-body {
    text-align: center;
}

.gallery-block .card-body p {
    font-size: 17px;
    font-weight: bold;
}

.gallery-block img {
    color: #212529;
}

.gallery-block .card {
    margin-bottom: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

.gallery-back-link a {
    text-align: center;
    color:#5e5c5c;
    font-size: 15px;
}
.gallery-back-link a:hover {
    color: red;
}