@import url('https://fonts.googleapis.com/css?family=Lato:300|Oswald');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Lato;
    color: #777777;
}

.uppercase {
    text-transform: uppercase;
}
.container-fluid {
     padding: 0;
 }

 .grey-line {
    width: 100%;
    height: 2px;
    border: 0;
    background-color: #777777;
    text-align: center;
}

/*---------------------------- Header ---*/

#logo {
  float: left;
  width: 140px;
  height: 60px;
  margin: 30px 0 20px 50px;
}

#menu {
  font-size: 120%;
  list-style-type: none;
  letter-spacing: 1px;
  color: #777777;
}

#menu li {
  float: right;
  margin-right: 30px;
}

#menu a {
  text-decoration: none;
  color: inherit;
}

#menu .active a {
    color: #313131;
}

#menu a:hover {
  border-bottom: 1px solid #313131;
  color: #313131;
} 

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-nav a {
    font-weight: bold;
}



/*----------------------------- Hero-image ---*/

.column {
  float: left;
  width: 25%;
  padding: 1px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}




#hero-image div {
  animation-name: hero-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes hero-zoom {    
  from {
    transform: scale(0.9); 
  }
  to {
    transform: scale(1); 
  }
}



/*-------------------------------- Features ---*/

/*
.grey-line {
    width: 100%;
    height: 2px;
    border: 0;
    background-color: #777777;
    text-align: center;
}

.content-container {
    clear: both;
    padding-top: 40px;
    padding-bottom: 0x;
    text-align: center;
    
}

.content-container h3 {
    font-weight: bold;
}

.nail-feature {
    text-align: center;
    margin-left: 80px;
    font-family: Lato;
    margin-top: 40px;
    
}

.photo-feature {
    padding: 0 30px 0 30px;
    
}

.eyelash-feature {
    text-align: center;
    margin-right: 80px;
    font-family: Lato;
    margin-top: 40px;
    
}



.profile-photo {
    padding: 30px;
    width: 330px;
    height: 330px;
    border-radius: 50%;
    border-style: solid;
    border-color: #746e6e;
    border-width: 0.5px;
    margin: 0 auto;
}

a .profile-photo:hover {
    border-color: goldenrod;
}

*/

/*-------------------------------- Footer ---*/

.footer-frame {
 
    background-color: rgb(245, 243, 243);
    color: #777777;
    min-width: 120px;
    text-align: center;
    padding: 30px 0;
    margin-top: 30px;
    font-size: 100%;
    
}

.social-link a i {
    width: 32px;
    height: 32px;
    padding: 5px;
    border-radius: 50%;
    font-size: 30px;
    line-height: 10px;
    text-align: center;
    color: rgb(194, 191, 191);
    background: rgb(245, 243, 243);
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-link a i:hover {
    background: rgb(247, 224, 194);
}

/*-------------------------------- Contact Form ---*/

.bg-color-contact {
    background-color: #ffffff;
}

.contact-heading {
    font-family: Lato;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #746e6e;
}

@media(min-width: 992px) {
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
}

}

/*-------------------------------- Price list ---*/

.bg-color-pricing {
    background-color: #ffffff;
}

.pricing-heading {
    font-family: Lato;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}

.grey-line-pricing {
    width: 70%;
    height: 2px;
    border: 0;
    background-color: #777777;
    text-align: center;
}

.pricing-table {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

@media(min-width: 992px) {
    .pricing-table {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
}

}

/*-------------------------------- Gallery ---*/

.gallery-block {
    max-width: 80%;
    margin: 0 auto;
    padding-bottom: 60px;
    padding-top: 60px;
}



.gallery-block .gallery-heading h2 {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px; 
    text-align: center;
}

.gallery-block .card-body h6 {
    font-size: 17px;
    font-weight: bold;
}

.gallery-block .card {
    transition: 0.4s ease;
}
 
 .gallery-block .card img {
     box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
 }

.gallery-block .card-body {
    text-align: center;
}

.gallery-block .card-body p {
    font-size: 15px;
}

.gallery-block img {
    color: #212529;
}



.gallery-block .card {
    margin-bottom: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

