@import url('https://fonts.googleapis.com/css?family=Lato:300|Oswald');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "Lato", sans-serif;
    color: #777777;
}

.uppercase {
    text-transform: uppercase;
}

.container-fluid {
    padding: 0;
    margin: 0;
    position: absolute;
 }

 .grey-line {
    width: 100%;
    height: 2px;
    border: 0;
    background-color: #777777;
    text-align: center;
}

/*---------------------------- Header ---*/



#logo {
  float: left;
  width: 140px;
  height: 60px;
  margin: 30px 0 20px 50px;
}

#menu {
  font-size: 120%;
  list-style-type: none;
  letter-spacing: 1px;
  color: #777777;
  margin-left: 50px;
}

#menu li {
  float: right;
  margin-right: 30px;
}

#menu a {
  text-decoration: none;
  color: inherit;
}

#menu .active a {
    color: #313131;
}

#menu a:hover {
  border-bottom: 1px solid #313131;
  color: #313131;
} 

.navbar {
    margin: 0;
    border-right: 30px;
    width: 100%;
    padding-left: 30px;
}

.navbar .navbar-toggler {
    border: 0;
    padding-left: 30px;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

@media(min-width: 992px) {
    .navbar {
        margin: 0;
        border-right: 20px;
        width: 100%;
    }
}


/*----------------------------- Hero-image ---*/

.column {
  float: left;
  width: 25%;
  padding: 1px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#hero-image div {
  animation-name: hero-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes hero-zoom {    
  from {
    transform: scale(0.9); 
  }
  to {
    transform: scale(1); 
  }
}

/*-------------------------------- Features ---*/

.feature-block {
    max-width: 70%;
    margin: 0 auto;
    padding-bottom: 30px;
    padding-top: 30px; 
}

.feature-heading h1 {
    font-family: "Lato", sans-serif;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
}

.grey-line-feature {
    width: 70%;
    margin: 0 auto;
    height: 2px;
    border: 0;
    background-color: #777777;
    text-align: center;
    margin-bottom: 30px;
}

.feature-heading h2 {
    font-family: "Lato", sans-serif;
    margin-top: 30px;
    margin-bottom: 40px;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}

.profile img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 115%;
    margin: 0;
    padding-right: 10px;
}

.bg-color-nails-title {
    background-color: rgb(252, 239, 222);
}

.nails-title {
    text-align: center;
}

.nails {
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 46px;
    margin-top: 20px;
    color:#777777;
}

.description {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: "Lato", sans-serif;
    color: #777777;
}

.menuitem {
    height: 120px;
    padding: 0;
    
}

#nav {
    margin-top: 10px;
}

#nav a img {
    height: 150px;
    width: 263px;
}

/*-------------------------------- Footer ---*/

.footer-frame {
    background-color: rgb(245, 243, 243);
    color: #777777;
    min-width: 120px;
    text-align: center;
    padding: 30px 0;
    margin-top: 30px;
    font-size: 100%;
}

.social-link a i {
    width: 40px;
    height: 40px;
    padding: 2px;
    border-radius: 50%;
    font-size: 30px;
    line-height: 32px;
    text-align: center;
    color: rgb(194, 191, 191);
    background: rgb(245, 243, 243);
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-link a i:hover {
    background: rgb(247, 224, 194);
}

@media(min-width: 992px) {
    .footer-frame {
        background-color: rgb(245, 243, 243);
        color: #777777;
        min-width: 120px;
        text-align: center;
        padding: 30px 20px;
        margin-top: 30px;
        font-size: 80%;
        
    }
}

/*-------------------------------- Contact Form ---*/

.bg-color-contact {
    background-color: #ffffff;
}

.contact-heading {
    font-family: "Lato", sans-serif;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}

.grey-line-contact {
    width: 50%;
    margin: 0 auto;
    height: 2px;
    border: 0;
    background-color: #777777;
    text-align: center;
    margin-bottom: 30px;
}

.text-center h5 {
    width: 50%;
    margin: 0 auto;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #746e6e;
}

@media(min-width: 992px) {
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}

/*-------------------------------- Price list ---*/

.bg-color-pricing {
    background-color: #ffffff;
}

.pricing-heading {
    font-family: "Lato", sans-serif;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}

.grey-line-pricing {
    width: 50%;
    margin: 0 auto;
    height: 2px;
    border: 0;
    background-color: #777777;
    text-align: center;
}

.pricing-table {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

.table th {
    text-align: center;
}

@media(min-width: 992px) {
    .pricing-table {
        padding-top: 30px;
        min-height: 360px;
        margin: 0 auto;
        max-width: 50%;
    }
}

/*-------------------------------- Gallery ---*/

.gallery-block {
    max-width: 80%;
    margin: 0 auto;
    padding-bottom: 60px;
    padding-top: 60px;
}

.gallery-block .gallery-heading h2 {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px; 
    text-align: center;
}

.gallery-block .card-body h6 {
    font-size: 17px;
    font-weight: bold;
}

.gallery-block .card {
    transition: 0.4s ease;
}
 
.gallery-block .card img {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

.gallery-block .card-body {
    text-align: center;
}

.gallery-block .card-body p {
    font-size: 15px;
}

.gallery-block img {
    color: #212529;
}

.gallery-block .card {
    margin-bottom: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

