@import url('https://fonts.googleapis.com/css?family=Lato:300|Oswald');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Lato;
    color: #777777;
}

/*---------------------------- Header ---*/

#logo {
  float: left;
  width: 100px;
  height: 40px;
  margin-left: 30px;
}

#menu {
  font-size: 100%;
  list-style-type: none;
  letter-spacing: 1px;
}

#menu li {
  float: right;
  margin-right: 30px;
}

#menu a {
  text-decoration: none;
  color: inherit;
}

#menu a:hover {
  border-bottom: 1px solid #777777; /*when hovering over menu bar it shows line under choosen menu link*/
}

.active {
  border-bottom: 1px solid #777777; /*shows the active menu link underlined when currently on it*/
}